lxml>=3.7.3
six>=1.10.0
aiohttp>=2.0.6
git+https://github.com/Rapptz/discord.py@3a8214a1155ac46ca13be29600bd9c48198bb4da
git+https://github.com/BlackSynder/Tokage.git
git+https://github.com/SynderBlack/Kadal.git
pytz
pillow
psutil